<% include ../partials/header %>

<div class="container jumbotron my-2">
    <h1>edit Comment On: <%= campground.name %></h1>
    <form action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="description">Comment Text</label>
            <input type="text" class="form-control" name="comment[text]" value="<%= comment.text %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/campgrounds">View All Campgrounds</a>
</div>

<% include ../partials/footer %>