<% include ../partials/header %>

<div class="container jumbotron my-2">
  <h1>Edit: <%= campground.name %></h1>
  <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="campground[name]">Camp Name</label>
          <input
            type="text"
            class="form-control"
            name="campground[name]"
            value="<%= campground.name %>"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="campground[image]">Camp Image</label>
          <input
            type="text"
            class="form-control"
            name="campground[image]"
            value="<%= campground.image %>"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="campground[description]">Campground Description</label>
      <textarea class="form-control" name="campground[description]" rows="3">
<%= campground.description %></textarea
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/campgrounds">View All Campgrounds</a>
</div>

<% include ../partials/footer %>
