<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Campgrounds!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <a href="/campgrounds/new" class="btn btn-primary">new campground</a>
</div>

<div class="row">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-sm">
        <div class="card" style="width: 18rem; margin: .5rem;">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">more info</a>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<% include ../partials/footer %>