<% include ../partials/header %>

<div class="container jumbotron my-2">
    <h1>Create A New Campground</h1>
    <form action="/campgrounds" method="POST">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Camp Name</label>
                    <input type="text" class="form-control" name="name" placeholder="camp name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="image">Camp Image</label>
                    <input type="text" class="form-control" name="image" placeholder="camp image url">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="price">Camp Price/Night</label>
                    <input type="text" class="form-control" name="price" placeholder="$0.00">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Camp Description</label>
            <textarea class="form-control" name="description" rows="3" placeholder="camp description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/campgrounds">View All Campgrounds</a>
</div>

<% include ../partials/footer %>