<% include ../partials/header %>

<div class="container" style="margin: 0 auto;">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at
                    eros</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="campground image">
                <div class="card-body">
                    <h5 class="card-title">

                        <div class="row">
                            <div class="col"><%= campground.name %></div>
                            <div class="col"><span class="float-right">$<%= campground.price.toFixed(2) %>/night</span>
                            </div>
                        </div>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">submitted by
                        <em><%= campground.author.username %></em> on <em class="text-muted"><%= campground.createdAt.toLocaleDateString(); %></em>
                        <% if(currentUser && currentUser._id.equals(campground.author.id)) { %>
                        &nbsp;|&nbsp;<a href="/campgrounds/<%= campground.id %>/edit"><small>edit</small></a>&nbsp;
                        <% } %>

                        |&nbsp;<a href="/campgrounds/<%= campground.id %>/comments/new"><small>comment</small></a>
                        &nbsp;|&nbsp;<a href="/campgrounds"><small class="text-muted">go back</small></a>
                        <% if(currentUser && currentUser._id.equals(campground.author.id)) { %>
                        <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">delete</button>
                        </form>
                        <% } %>
                    </p>
                    <hr>
                    <p class="card-text">
                        <h5 class="card-title">Comments</h5>
                        <p>
                            <% campground.comments.forEach(function(comment){ %>

                            <strong><%= comment.author.username %></strong> -
                            <%= comment.text %>

                            <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>

                            &nbsp;<a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><small
                                    class="text-muted">edit</small></a>
                            <form style="display: inline;"
                                action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger btn-sm">delete</button>
                            </form>

                            <% } %>
                            <br>
                            <% }) %>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>