body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://yedunemi.files.wordpress.com/2018/05/explorers_village_camp_wine.jpg?w=672&h=372&crop=1)
}

.slideshow li:nth-child(2) {
    background-image: url(https://cdn-travel.jumia.com/web_hotel_detail_gallery/york-lodge-27623-bb72ed7e8e24dc6fec369ce4d804c2dcf253b26b.jpeg);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url(https://www.roomsforafrica.com/new-gallery/bushmanxsrockcountrylodge_13-x_large.jpg);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url(https://i.ytimg.com/vi/duB7m4ZX5_0/maxresdefault.jpg);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url(https://zambezicruisesafaris.com/wp-content/uploads/2019/06/home-about-section.jpg);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1
    }

    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}